@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --color-primary: #020617;
  --color-secondary: #0E1628;
  --color-accent: #F59E0B;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

::selection {
  background: #F59E0B;
  color: #020617;
}